<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Tu Cartela Personal</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
</head>
<body>
<div id="header">
	<div id="logo">
		<h1>Tu Cartelera Personal</h1>
	</div>
	<div id="menu">
		<ul>
			<li class="first"><a href="/" accesskey="1" title="">Inicio</a></li>
		</ul>
	</div>
</div>
<div id="content">
	<div id="colOne">
		</br>
		<h2>¡Bienvenidos a tu cartela personal!</h2>
		<strong>
		{% block inicio %}{% endblock %}
		{% block peliculas %}{% endblock %}
		{% block series %}{% endblock %}
		{% block twittear %}{% endblock %}
		</strong>
	</div>
	<div id="colTwo">
	<h3>Búsqueda de Películas</h3>
		<form  method="post" action="/busquedapeliculas">
			<div>
				<input name="pelicula" type="text" />
				<input name="submit" type="submit" value="Buscar" />
			</div>
		</form>
	<h3>Búsqueda de Series</h3>
		<form  method="post" action="/busquedaseries">
			<div>
				<input name="serie" type="text" />
				<input name="submit" type="submit" value="Buscar" />
			</div>
		</form>	
	<h3>Twittea algo!</h3>
		<form  method="post" action="/twittear">
			<div>
				<input name="twittear" type="text" />
				<input name="submit" type="submit" value="Buscar" />
			</div>
		</form>	

</div>
<div id="footer">
	<p>Realizado por: José María Montero Romero</p>
</div>
</body>
</html>
