{% extends "base.html" %}
{% block title %}<h1><font color="red">Información sobre la serie</font></h1>{% endblock %}
{% block series %}	
	{% for i in series %}
		{% if i["name"] %}
		<p><strong><font color="red">Titulo:</font></strong> {{i["name"]}}</p>
		{% else %}
		<p><strong>No tiene título</strong></p>
		<img src="../static/img/404error.jpg"/>
		{% endif %}
		{% if i["backdrop_path"] %}
		<img src="https://image.tmdb.org/t/p/w500{{i["backdrop_path"]}}" />
		{% else %}
		<p><strong>No tiene poster</strong></p>
		<img src="../static/img/404error.jpg"/>
		{% endif %}
		{% if i["overview"] %}
		<p><strong><font color="red">Sinopsis:</font></strong> {{i["overview"]}}</p>
		{% else %}
		<p><strong>No tiene sinopsis</strong></p>
		<img src="../static/img/404error.jpg"/>
		{% endif %}
		{% if i["vote_average"] %}
		<p><strong><font color="red">Votos:</font></strong> {{i["vote_average"]}}</p>
		{% else %}
		<p><strong>No tiene votos</strong></p>
		<img src="../static/img/404error.jpg"/>
		{% endif %}
		{% if i["first_air_date"] %}
		<p><strong><font color="red">Fecha de Estreno:</font></strong> {{i["first_air_date"]}}</p>
		{% else %}
		<p><strong>No tiene fecha de estreno</strong></p>
		<img src="../static/img/404error.jpg"/>
		{% endif %}
		{% if i["origin_country"] %}
		<p><strong><font color="red">País Originario:</font></strong>{{i["origin_country"]}}</p>
		{% else %}
		<p><strong>No tiene país originario</strong></p>
		<img src="../static/img/404error.jpg"/>
		{% endif %}
	{% endfor %}
<a href="/">Volver al inicio</a>
{% endblock %}