{% extends "base.html" %}
{% block series %}	
	<h1> Información sobre la serie </h1>
	{% for i in series %}
		{% if i["name"] %}
		<p><strong>Titulo:</strong> {{i["name"]}}</p>
		{% else %}
		<p><strong>No tiene título</strong></p>
		{% endif %}
		{% if i["backdrop_path"] %}
		<img src="https://image.tmdb.org/t/p/w500{{i["backdrop_path"]}}" />
		{% else %}
		<p><strong>No tiene poster</strong></p>
		{% endif %}
		{% if i["overview"] %}
		<p><strong>Sinopsis:</strong> {{i["overview"]}}</p>
		{% else %}
		<p><strong>No tiene sinopsis</strong></p>
		{% endif %}
		{% if i["vote_average"] %}
		<p><strong>Votos:</strong> {{i["vote_average"]}}</p>
		{% else %}
		<p><strong>No tiene votos</strong></p>
		{% endif %}
		{% if i["first_air_date"] %}
		<p><strong>Fecha de Estreno:</strong> {{i["first_air_date"]}}</p>
		{% else %}
		<p><strong>No tiene fecha de estreno</strong></p>
		{% endif %}
		{% if i["origin_country"] %}
		<p><strong>País Originario:</strong>{{i["origin_country"]}}</p>
		{% else %}
		<p><strong>No tiene país originario</strong></p>
		{% endif %}
	{% endfor %}
<a href="/">Volver al inicio</a>
{% endblock %}